<div id="header">
  <div class="inner-content">
    <nav id="nav">
      <a {% if page.title == "Home" %}class="active"{% endif %} href="{{site.baseurl}}index.html">The Jam Cave</a>
      <a {% if page.title == "Contact" %}class="active"{% endif %} href="{{site.baseurl}}contact.html">Contact</a>
    </nav>
    <div id="social">
      <span>Follow us on:</span>
      <a class="facebook" href="http://www.facebook.com/thejamcave">Facebook</a>
      <a class="twitter" href="http://www.twitter.com/thejamcave">Twitter</a>
      <a class="youtube" href="http://www.youtube.com/user/thejamcave">Youtube</a>
    </div>
  </div>
</div>
